* {
  margin: 0;
  padding: 0;
}
/*this is for the EZ2READ TOOL*/

/*this is where i do the txt*/
h1 {
    color: red;
    text-align: center;
    color: 	#FF0000;
    font-size: 100px;
    font-weight: bold;
    padding: vh;
    margin-top: 40px;
}

/*this is where i do the txt box*/
.textbox{
  margin-top: 100px;
  margin-bottom: 100px;
  display: block;
  margin-left: auto ;
  margin-right: auto;
  text-align: justify;
  border: 2px solid red;
  padding: 90px;
  width: 1400px;
  height: 3200px;
  font-size: 25px;
  background-color: #FFFFFF;
  opacity: 0.9;
  color: ;
}



ul {
  text-align: left;
  padding: 0px;
  padding-left: 100px;
  list-style-type: none;
}


/*THIS SI WHERE I DO THE STUFF INSIDE THE TEXT BOX AKA EVERYTHIGN ELSE*/


#input-text {
    display: block;
    margin-left: auto ;
    margin-right: auto;
    font-size: 25px;
    width: 1200px;
    height: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid red;
}

#output-text {
    background-color: #f9f9f9;
    padding: 10px;
}

button {
    display: block;
    margin-left: auto ;
    margin-right: auto;
    background-color: RED;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #111111;
}
/*this is where i do the image*//*this is where i do the image*//*this is where i do the image*//*this is where i do the image*//*this is where i do the image*/

.fit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  margin-top: 40px;

}


/*this is the dimensions resizing*//*this is the dimensions resizing*//*this is the dimensions resizing*//*this is the dimensions resizing*/

@media (max-width: 449px) {


}



@media (min-width: 450px) {






@media (min-width: 600px) {






@media (min-width: 750px) {







@media (min-width: 1050px) {







@media (min-width: 1200px) {






@media (min-width: 1700px) {






