* {
  margin: 0;
  padding: 0;
}


/*this is where i do the txt*/
H1 {
    color: red;
    text-align: center;
    color: 	#FF0000;
    font-size: 100px;
    font-weight: bold;
    padding: vh;
    margin-top: 40px;
}


/*this is where i do the txt box*/
.textbox{
  margin-top: 100px;
  margin-bottom: 100px;
  display: block;
  margin-left: auto ;
  margin-right: auto;
  text-align: justify;
  border: 2px solid red;
  padding: 90px;
  width: 1400px;
  height: 3200px;
  font-size: 40px;
  background-color: #111111;
  opacity: 0.9;
  color: red;

}



ul {
  text-align: left;
  padding: 0px;
  padding-left: 100px;
  list-style-type: none;
}

.listtitle {
  font-size: 70px;
  font-weight: bold;
  color: 	green;

}


/*this is the dimensions resizing*//*this is the dimensions resizing*//*this is the dimensions resizing*//*this is the dimensions resizing*/

@media (max-width: 449px) {

    H1{
    font-size: 50px;
    }

    H1{
    font-size: 45px;
    margin-top: 170px;
    }

    .textbox{
        margin-top: 10px;
        padding: 30px;
        width: 350px;
        height: 1400px;
        font-size: 15px;
    }

    ul {
        padding-left: 30px;
    }

    .listtitle {
        font-size: 21px;
    }


}







@media (min-width: 450px) {

    H1{
    font-size: 50px;
    }

    .textbox{
        margin-top: 30px;
        padding: 30px;
        width: 450px;
        height: 1410px;
        font-size: 17px;
    }

    ul {
        padding-left: 30px;
    }

    .listtitle {
        font-size: 25px;
    }
}



@media (min-width: 600px) {

    H1{
    font-size: 50px;
    }

    .textbox{
        margin-top: 30px;
        padding: 30px;
        width: 450px;
        height: 1410px;
        font-size: 17px;
    }

    ul {
        padding-left: 30px;
    }

    .listtitle {
        font-size: 25px;
    }
}


@media (min-width: 750px) {
    H1{
    font-size: 70px;
    }

    .textbox{
        margin-top: 30px;
        padding: 40px;
        width: 730px;
        height: 1810px;
        font-size: 25px;
    }

    ul {
        padding-left: 30px;
    }

    .listtitle {
        font-size: 35px;
    }

}



@media (min-width: 1050px) {

    H1{
    font-size: 100px;
    }

    .textbox{
        margin-top: 40px;
        padding: 40px;
        width: 1030px;
        height: 2210px;
        font-size: 30px;
    }

    ul {
        padding-left: 30px;
    }

    .listtitle {
        font-size: 45px;
    }

}



@media (min-width: 1400px) {
    H1 {
        font-size: 130px;
    }

    .textbox{
      margin-top: 100px;
      display: block;
      margin-left: auto ;
      margin-right: auto;
      text-align: justify;
      border: 2px solid red;
      padding: 90px;
      width: 1400px;
      height: 3200px;
      font-size: 40px;
      background-color: #111111;
      opacity: 0.9;
      color: red;
    }



    ul {
      text-align: left;
      padding: 0px;
      padding-left: 100px;
      list-style-type: none;
    }

    .listtitle {
      font-size: 70px;
      font-weight: bold;
      color: 	green;
    }

}



@media (min-width: 1700px) {



}


