*{
margin: 0;
padding: 0;
}

:not(----------------------------------banner stuff--------)

#banner{
    background: url(../images/12.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;

}

.banner-text{
    text-align: center;
    color: 	#FF0000;
    font-size: 4vw;
    font-weight: bold;
    padding: 0vh;
}
:not(----------------------------------image of me----this part at some point will need fixing, when i change the size of th screen, in the under part the background ends and u can see white)


.fit {

  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
  width: 476px;
  height: 592px;
  padding: 2vh;
}
:not(----------------------------------making the stoopid table be on the center------------------------)

.center {
  margin-left: auto;
  margin-right: auto;
}

:not(-----------------------stoopid topnav--)


.topnav {
  margin: 0vh;
  overflow: hidden;
  background-color: transparent;
  justify-content:space-around;
  display: flex;
  padding: 40px
}

.topnav a {
  float: left;
  color: #FF0000;
  text-align: center;
  padding: 40px 35px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

.topnav a:hover {
  background-color: #FF0000;
  color: white;
}

.topnav a.active {
  background-color: #FF6100;
  color: white;
}




:not(-----------------------stoopid footer-----------------------------)

#footer-down{
}


footer {
  text-align: center;
  padding: 30px;
  background-color: transparent;
  color: red;
  font-size: 35px;
  bottom: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top:0px;
}

:not(-----------------------stoopid boody---)

body{
    background: url(../images/12.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    color: 	#FF0000;


}

:not(-----------------------stoopid BUTTONS OF ABOUT ME PAGE on horizontal--)



.btn-group button {
  background-color: transparent;
  color: red;
  padding: 40px 35px;
  font-family: "Times New Roman", Times, serif;
  width: 80%;
  border: 1px transparent;
  display: block;
  font-size: 2vw;
  font-weight: bold;
  padding: 4vh;
  display:;

}

.btn-group button:hover {
  background-color: #FF0000;
  color: white;
}

